@CHARSET "UTF-8";
textarea {
    resize: none;
}
legend{
	font-size : 16px;
	background-color : #9b9e9c;
	color: white;
	width : 90%;
	padding : 5px;
}
label{
	font-family : Times New Romon;
	color : white;

}


<style>
	.outerDiv
	{
		background-color: #006699;
		color: #fff;
		height: 800px;
		width: 380px;
		margin: 0px auto;
		padding: 5px;
	}
	header{
	 text-align: center;
	 padding: 05px;
	 text-align: center;
	 background: #1abc9c;
	 color: white;
	 font-size: 20px;
	}
	table, th, td
	{

	border-collapse: collapse;
	}
	#symbol{
  color:red;
}
	th, td {
	padding: 10px;
	}
	p.ex {
margin-right=50em

}
#loginid  {
    border-radius: 25px;
    border: 1.5px solid #609;
    padding: 10px;
    width: 200px;
    height: 15px;
}
#password  {
    border-radius: 25px;
    border: 1.5px solid #609;
    padding: 10px;
    width: 200px;
    height: 15px;
}
#submit{
	border-radius: 25px;
	border: 1.5px solid #f0f5f5;
	padding: 10px;
	width: 100px;
	height: 30px;
}
#clear{
	border-radius: 25px;
	border: 1.5px solid #f0f5f5;
	padding: 10px;
	width: 100px;
	height: 30px;
}
#rcorners1 {
  border-radius: 25px;
  border: 2px solid #f0f5f5;
  padding: 20px;
  width: 200px;
  height: 150px;
}

</style>
